/* *{
    box-sizing: border-box
} */

#main-board{
    background-position: -75px -50px;
    /* width: 25px; 
    height: 25px; */
    border: solid red 1px
}

#board-clear{
    background:purple;
    /* border: 10px solid black; */
    margin-top:50px;
}

#board-for-pieces{
    background:green;
    /* border: 10px solid black; */
}

#test{
    width: 36%;
    height: 36%;
    border: 7px solid #000;
}

/* img{
    display: none
} */